@model MyWebSite.Models.Blog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}
<br />
<br />
<h2><span class="badge badge-info">Detaylar</span></h2>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span class="badge badge-info"> @Html.DisplayNameFor(model => model.Tag)</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            <span class="badge badge-info"> @Html.DisplayNameFor(model => model.Title)</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            <span class="badge badge-info"> @Html.DisplayNameFor(model => model.Description)</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            <span class="badge badge-info"> @Html.DisplayNameFor(model => model.Photo)</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.BlogID">Düzenle</a> |
    <a class="btn btn-primary" asp-action="Index">Listeye Geri Dön</a>
</div>
