@model IEnumerable<MyWebSite.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}
<br />
<br />
<p>
    <a class="btn btn-block btn-success" asp-action="Create">Yeni İçerik Ekle</a>
</p>
<table class="table" id="tblRecords">
    <thead>
        <tr>
                <th>
                   <span class="badge badge-info">@Html.DisplayNameFor(model => model.Tag)</span> 
                </th>
                <th>
                    <span class="badge badge-info">@Html.DisplayNameFor(model => model.Title)</span> 
                </th>
                <th>
                    <span class="badge badge-info">@Html.DisplayNameFor(model => model.Description)</span> 
                </th>
                <th>
                    <span class="badge badge-info">@Html.DisplayNameFor(model => model.Photo)</span> 
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BlogID">Düzenle</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.BlogID">Detay</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BlogID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>



@section scripts {
    <script>
        $(document).ready(function () {
            $('#tblRecords').DataTable({
                "responsive": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Turkish.json"
                }
            });
        });

    </script>

}


