@model IEnumerable<MyWebSite.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}
<p>
    <a class="btn btn-block btn-success" asp-action="Create">Yeni İçerik Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BlogID">Düzenle</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.BlogID">Detay</a> |
                <a class="" asp-action="Delete" asp-route-id="@item.BlogID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
